#cna-form-container p
{
margin-bottom:25px;
}
#cna-form-container h2
{
font-family:"Times New Roman";
font-style:italic;
color:#464646;
font-weight:normal;
margin-bottom:30px;
font-size:18pt;
}
#cna-form-container
{
position:relative;
}
.cna-input
{
padding:5px;
border:1px solid grey;
margin-left:20px;
}
#cna-blog-address
{
margin-left:36px;
margin-right:10px;
}
#cna-submit
{
margin-top:20px;
}
.cna-info
{
color:#999;
font-size:8pt;
font-style:italic;
}
#cna-label-info
{
margin-left:125px;
}
#cna-community-label
{
margin-left:26px;
}
